body {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    font-size: 20pt;
    font-weight: normal;
    background: rgb(108, 87, 226);
    background: -webkit-linear-gradient( -90deg, rgb(81, 51, 214), black);
    background: -o-linear-gradient( -90deg, rgb(65, 67, 204), black);
    background: -moz-linear-gradient( -90deg, rgb(84, 52, 173), black);
    background: linear-gradient(-90deg, rgb(78, 67, 179), black);
    text-align: center;
}

.container {
    margin: 100px auto;
    text-align: center;
}

button {
    padding: 20px;
    background: transparent;
    text-shadow: 1px 1px 1px #44ee68;
    font-family: "Lato", sans-serif;
    font-size: 30px;
    color: rgb(212, 216, 218);
    border: none;
}

#decrement {
    padding: 20px 30px;
    border: rgb(49, 9, 226) 2px solid;
    background-color: rgba(247, 8, 8, 0.5);
    margin-right: 40px;
    border-radius: 20%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
}

#decrement:hover {
    padding: 20px 30px;
    border: rgb(208, 243, 13) 2px solid;
    background-color: rgba(172, 221, 37, 0.5);
    box-shadow: 1px 2px 2px 2px grey;
}

#increment {
    padding: 20px 30px;
    border: rgb(49, 9, 226) 2px solid;
    background-color: rgba(8, 247, 48, 0.5);
    margin-left: 40px;
    border-radius: 20%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
}

#increment:hover {
    padding: 20px 30px;
    border: rgb(243, 13, 193) 2px solid;
    background-color: rgba(27, 163, 187, 0.5);
    box-shadow: 1px 2px 2px 2px rgb(236, 90, 90);
}

.fa-minus:hover {
    color: red;
}

.fa-plus:hover {
    color: rgb(21, 255, 0);
}

#counter {
    padding: 20px 30px;
    font-size: 50px;
    margin-top: 10px;
}

.footer {
    font-weight: bold;
    color: white;
    font-size: 20px;
    text-align: center;
}

h3 {
    font-weight: bolder;
    color: white;
    font-size: 60px;
    margin-bottom: 30px;
    font-family: 'Cinzel Decorative';
}