h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    width: 90%;
    height: auto;
    border-radius: 20px;
    padding: 0px 10px 0px 10px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}

img {
    width: 95%;
    height: 200px;
    border-radius: 20px;
    padding: 5px 5px 0px 5px;
    margin: 5px auto 0px auto;
}

#box1 {
    float: left;
    width: 21%;
    height: auto;
    border: solid white 8px;
    align-content: center;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    margin: 20px;
    padding-bottom: 20px;
}

#box2 {
    float: left;
    width: 21%;
    height: auto;
    border: solid white 8px;
    align-content: center;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    margin: 20px;
    padding-bottom: 20px;
}

#box3 {
    float: left;
    width: 21%;
    height: auto;
    border: solid white 8px;
    align-content: center;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    margin: 20px;
    padding-bottom: 20px;
}

#box4 {
    float: left;
    width: 21%;
    height: auto;
    border: solid white 8px;
    align-content: center;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    margin: 20px;
    padding-bottom: 20px;
}

a {
    text-decoration: none;
    background-color: red;
    padding: 10px 100px 10px 100px;
    border-radius: 10px;
    color: white;
    text-align: center;
}

a:hover {
    background-color: blue;
    text-decoration: solid;
    font-family: Arial, Helvetica, sans-serif;
}

a :visited {
    background-color: violet;
}