body {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    font-size: 20pt;
    font-weight: normal;
    background: rgb(108, 87, 226);
    background: -webkit-linear-gradient( -90deg, rgb(81, 51, 214), black);
    background: -o-linear-gradient( -90deg, rgb(65, 67, 204), black);
    background: -moz-linear-gradient( -90deg, rgb(84, 52, 173), black);
    background: linear-gradient(-90deg, rgb(78, 67, 179), black);
    text-align: center;
}

.container {
    margin: 100px auto;
    text-align: center;
    height: 60vh;
}

.button {
    padding: 20px 40px;
    font-size: 26px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin: 30px;
}

.button:hover {
    background-color: #3e8e41
}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#counter {
    padding: 0px 30px;
    font-size: 60px;
    margin-top: 10px;
    display: inline;
    color: white;
    font-weight: 900;
    text-shadow: 2px 2px 8px #ec722b;
}

.footer {
    font-weight: bold;
    color: white;
    font-size: 20px;
    text-align: center;
}

h3 {
    font-weight: bolder;
    color: white;
    font-size: 60px;
    margin-bottom: 15vh;
    font-family: 'Cinzel Decorative';
    text-shadow: 2px 2px 8px #FF0000;
}